// display
.d-desktop {
    display: block;
    @media only screen and (max-width: 567px) {
        display: none !important;
    }
}
.d-mobie {
    display: block;
    @media screen and (min-width: 567px) {
        display: none !important;
    }
}
.display-none {
    display: none;
}
// border
.border-theme-1 {
    border: 1px solid $theme-color-1;
}
.border-white {
    color: lightgray;
    transition: 0.1s ease-in-out;
    // &:hover {
    //     text-decoration: none;
    //     border-color: $theme-color-1;
    //     color: $theme-color-1;
    //     font-weight: bold;
    // }
}
.border-transparent {
    border-color: transparent;
}
.border-70-dark-charcoal {
    border-bottom: 1px solid gray;
}
.border-bottom-dashed-gray {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: gray;
    padding-bottom: 5px;
}
%border-bottom-dashed-gray {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: gray;
    padding-bottom: 5px;
}


.border-top-dashed-gray {
    border-top-width: 1px;
    border-top-style: dashed;
    border-top-color: gray;
    padding-top: 5px;
}
.border-bottom-dashed-1 {
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    border-bottom-color: $theme-color-1;
    padding-bottom: 5px;
}
.border-left-5 {
    border-left: 5px solid $theme-color-1;
}
%border-circle {
    border: 1px solid black;
    border-right: none;
}
%border {
    border: 1px solid #dee2e6 !important;
    border-top-color: rgb(222, 226, 230) !important;
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-right-color: rgb(222, 226, 230) !important;
    border-right-style: solid !important;
    border-right-width: 1px !important;
    border-bottom-color: rgb(222, 226, 230) !important;
    border-bottom-style: solid !important;
    border-bottom-width: 1px !important;
    border-left-color: rgb(222, 226, 230) !important;
    border-left-style: solid !important;
    border-left-width: 1px !important;
    border-image-source: initial !important;
    border-image-slice: initial !important;
    border-image-width: initial !important;
    border-image-outset: initial !important;
    border-image-repeat: initial !important;
}
%flex-between {
    display: flex;
    justify-content: space-between;
}
%flex-center {
    display: flex;
    justify-content: center;
}
