.background-Solitude {
    background-color: #e9ecef;
}
%background-lightPink {
    background: rgb(249, 235, 214);
}

.background-Solitude {
    background-color: #e9ecef;
}

.background-alice {
    background-color: #f8f9fa;
}

.background-white {
    background-color: white;
}

.background-white-smoke {
    background-color: whitesmoke;
}

%background-ultimate-gray {
    background-color: #939597;
}

.background-light-gray {
    background-color: lightgray;
}
.background-black {
    background-color: black;
}
